com.eclipsesource.jaxrs.connector="mvn:com.eclipsesource.jaxrs/publisher/5.3.1"
com.eclipsesource.jaxrs.swagger.config="mvn:de.maggu2810.thirdparty.modified.com.eclipsesource.jaxrs/provider-swagger/1.1.1.201605111122"
org.apache.felix.eventadmin.impl.EventAdmin="mvn:org.apache.karaf.services/org.apache.karaf.services.eventadmin/4.1.3"
org.apache.felix.fileinstall.55649ca0-5cc1-419d-b51c-1f07968117ee="mvn:org.apache.felix/org.apache.felix.fileinstall/3.5.8"
org.apache.karaf.config="mvn:org.apache.karaf.config/org.apache.karaf.config.core/4.1.3"
org.apache.karaf.features.repos="mvn:org.apache.karaf.features/org.apache.karaf.features.core/4.1.3"
org.apache.karaf.jaas="mvn:org.apache.karaf.jaas/org.apache.karaf.jaas.modules/4.1.3"
org.apache.karaf.kar="mvn:org.apache.karaf.kar/org.apache.karaf.kar.core/4.1.3"
org.apache.karaf.log="mvn:org.apache.karaf.log/org.apache.karaf.log.core/4.1.3"
org.apache.karaf.shell="mvn:org.apache.karaf.shell/org.apache.karaf.shell.ssh/4.1.3"
org.openhab.addons="mvn:org.openhab.core/org.openhab.core.karaf/2.2.0"
org.openhab.dashboard="mvn:org.openhab.core/org.openhab.ui.dashboard/2.2.0"
org.openhab.mail="mvn:org.openhab.action/org.openhab.action.mail/1.11.0"
org.openhab.tinkerforge="mvn:org.openhab.binding/org.openhab.binding.tinkerforge/1.11.0"
org.ops4j.pax.logging="mvn:org.ops4j.pax.logging/pax-logging-log4j2/1.10.1"
org.ops4j.pax.web="mvn:org.ops4j.pax.web/pax-web-runtime/6.0.7"
