org.apache.karaf.config="mvn:org.apache.karaf.config/org.apache.karaf.config.core/4.1.5"
org.openhab.addons="mvn:org.openhab.core/org.openhab.core.karaf/2.3.0"
org.openhab.dashboard="mvn:org.openhab.core/org.openhab.ui.dashboard/2.3.0"
org.openhab.mail="mvn:org.openhab.action/org.openhab.action.mail/1.12.0"
org.openhab.tinkerforge="mvn:org.openhab.binding/org.openhab.binding.tinkerforge/1.12.0"
