featuresBoot="instance,\ package,\ log,\ ssh,\ framework,\ system,\ eventadmin,\ feature,\ shell,\ service,\ jaas,\ http,\ openhab-runtime-base,\ jetty,\ deployer,\ diagnostic,\ bundle,\ config,\ kar"
featuresBootAsynchronous="false"
featuresRepositories="mvn:org.openhab.distro/distro/2.2.0/xml/features,\ mvn:org.apache.karaf.features/framework/4.1.3/xml/features,\ mvn:org.apache.karaf.features/standard/4.1.3/xml/features,\ mvn:org.openhab.distro/overrides/2.2.0/xml/features,\ mvn:org.openhab.distro/openhab-addons/2.2.0/xml/features"
felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.apache.karaf.features.cfg"
service.pid="org.apache.karaf.features"
