featuresBoot="instance,\ package,\ log,\ ssh,\ system,\ feature,\ shell,\ service,\ jaas,\ openhab-runtime-base,\ deployer,\ diagnostic,\ bundle,\ config,\ kar"
featuresBootAsynchronous="false"
featuresRepositories="mvn:org.openhab.distro/distro/2.1.0/xml/features,\ mvn:org.openhab.distro/addons/2.1.0/xml/features,\ mvn:org.apache.karaf.features/framework/4.0.8/xml/features,\ mvn:org.apache.karaf.features/standard/4.0.8/xml/features"
felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.apache.karaf.features.cfg"
service.pid="org.apache.karaf.features"
