configCfgStore="false"
featuresBoot="instance,\ package,\ log,\ ssh,\ framework,\ system,\ eventadmin,\ feature,\ shell,\ service,\ jaas,\ openhab-runtime-base,\ deployer,\ diagnostic,\ bundle,\ config,\ kar"
featuresBootAsynchronous="false"
featuresRepositories="mvn:org.openhab.distro/distro/2.3.0/xml/features,\ mvn:org.openhab.distro/openhab-addons/2.3.0/xml/features,\ mvn:org.apache.karaf.features/framework/4.1.5/xml/features,\ mvn:org.apache.karaf.features/standard/4.1.5/xml/features"
felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.apache.karaf.features.cfg"
service.bundleLocation="?"
service.pid="org.apache.karaf.features"
