gibanjeHodnikZ.pullUpResistorEnabled="true"
gibanjeHodnikZ.subid="inb6"
gibanjeHodnikZ.type="iosensor"
gibanjeHodnikZ.uid="soG"
gibanjeStopniceZ.pullUpResistorEnabled="true"
gibanjeStopniceZ.subid="inb7"
gibanjeStopniceZ.type="iosensor"
gibanjeStopniceZ.uid="soG"
hosts="192.168.1.202:4223"
refresh="10000"
service.pid="org.openhab.tinkerforge"
stikaloAljaz.defaultState="false"
stikaloAljaz.subid="outa1"
stikaloAljaz.type="io_actuator"
stikaloAljaz.uid="soG"
stikaloDnevna.defaultState="false"
stikaloDnevna.subid="outa6"
stikaloDnevna.type="io_actuator"
stikaloDnevna.uid="D7Y"
stikaloHodnikS.defaultState="false"
stikaloHodnikS.subid="outa0"
stikaloHodnikS.type="io_actuator"
stikaloHodnikS.uid="D7Y"
stikaloHodnikZ.defaultState="false"
stikaloHodnikZ.subid="outa3"
stikaloHodnikZ.type="io_actuator"
stikaloHodnikZ.uid="soG"
stikaloJulija.defaultState="false"
stikaloJulija.subid="outa6"
stikaloJulija.type="io_actuator"
stikaloJulija.uid="soG"
stikaloKabinet.defaultState="false"
stikaloKabinet.subid="outa7"
stikaloKabinet.type="io_actuator"
stikaloKabinet.uid="D7Y"
stikaloKopalnicaS.defaultState="false"
stikaloKopalnicaS.subid="outa1"
stikaloKopalnicaS.type="io_actuator"
stikaloKopalnicaS.uid="D7Y"
stikaloKopalnicaZ.defaultState="false"
stikaloKopalnicaZ.subid="outa2"
stikaloKopalnicaZ.type="io_actuator"
stikaloKopalnicaZ.uid="soG"
stikaloKuhinja.defaultState="false"
stikaloKuhinja.subid="outa4"
stikaloKuhinja.type="io_actuator"
stikaloKuhinja.uid="D7Y"
stikaloSpalnica.defaultState="false"
stikaloSpalnica.subid="outa4"
stikaloSpalnica.type="io_actuator"
stikaloSpalnica.uid="soG"
