felix.fileinstall.active.level="80"
felix.fileinstall.dir="/usr/share/openhab2/addons"
felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="1000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="/var/lib/openhab2/tmp/bundles"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.55649ca0-5cc1-419d-b51c-1f07968117ee"
