felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.ops4j.pax.url.mvn.cfg"
org.ops4j.pax.url.mvn.defaultRepositories="file:/usr/share/openhab2/runtime/system@id\=system.repository@snapshots,\ file:/var/lib/openhab2/tmp/kar@id\=kar.repository@multi@snapshots,\ file:/var/lib/openhab2/system@id\=child.system.repository@snapshots"
org.ops4j.pax.url.mvn.localRepository="/var/lib/openhab2/tmp/mvn"
org.ops4j.pax.url.mvn.repositories="https://dl.bintray.com/openhab/mvn/online-repo/2.3@id\=openhab"
org.ops4j.pax.url.mvn.useFallbackRepositories="false"
service.bundleLocation="?"
service.pid="org.ops4j.pax.url.mvn"
